<%= form_for(@beat, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="container-sindan">
        <div class="row">
            <div class="col-12">
                <p><br>Question No.3 好きなアーティストは？</p>
            </div>
            <div class="answer">
            <div class="col-6">
                <p><%= f.radio_button :question3, "option1" %><label id="beat_question3_option1" for="beat_question3_option1">BE-FIRST</label></p>
            </div>
            <div class="col-6">
                <p><%= f.radio_button :question3, "option2" %><label id="beat_question3_option2" for="beat_question3_option2">SUPER BEAVER</label></p>
            </div>
            <div class="col-6">
                <p><%= f.radio_button :question3, "option3" %><label id="beat_question3_option3" for="beat_question3_option3">徳川eq</label></p>
            </div>
            <div class="col-6">
                <p><%= f.radio_button :question3, "option4" %><label id="beat_question3_option4" for="beat_question3_option4">AK-69</label></p>
            </div>
            <div class="col-6">
                <p><%= f.radio_button :question3, "option5" %><label id="beat_question3_option5" for="beat_question3_option5">L'Arc～en～Ciel</label></p>
            </div>
            <div class="col-6">
                <p><%= f.radio_button :question3, "option6" %><label id="beat_question3_option6" for="beat_question3_option6">コブクロ</label></p>
            </div>
            <div class="col-6">
                <p><%= f.radio_button :question3, "option7" %><label id="beat_question3_option6" for="beat_question3_option7">Mr.Children</label></p>
        </div>

    </div>
    <div class="sindanbotan">
        <%= f.submit "診断結果へ" %>
    </div>
    <div class="second-block">
    </div>
<% end %>