<%= form_for(@music, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="container-sindan">
        <div class="row">
            <div class="col-12">
                <p><br>Question No.2 好きな音楽のジャンルは？</p>
            </div>
            <div class="answer">
            <div class="col-6">
                <p><%= f.radio_button :question2, "option1" %><label id="music_question2_option1" for="music_question2_option1">ロック</label></p>
            </div>
            <div class="col-6">
                <p><%= f.radio_button :question2, "option2" %><label id="music_question2_option2" for="music_question2_option2">ヘビメタ</label></p>
            </div>
            <div class="col-6">
                <p><%= f.radio_button :question2, "option3" %><label id="music_question2_option3" for="music_question2_option3">EDM(エレクトロニック･ダンス･ミュージック)</label></p>
            </div>
            <div class="col-6">
                <p><%= f.radio_button :question2, "option4" %><label id="music_question2_option4" for="music_question2_option4">アコースティック</label></p>
            </div>
        </div>
        <div class="full-img3">
        </div>
    </div>
    <div class="sindanbotan">
        <%= f.submit "診断結果へ" %>
    </div>
    <div class="second-block">
    </div>
<% end %>